<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>
<body>
    <%- include('../partials/nav') %>

    <h1>Books</h1>
    <p>Here is a list of all the books in the inventory:</p>
    <div>
        <form action="/books" method="GET">
            <input type="text" name="search" placeholder="Search by title or author, genre ..." value="<%= query.search %>" >
            <button type="submit">Search</button>
        </form>
    </div>
    <%- include('../partials/sidbar') %>
    <div>
        <% const currentFilters = Object.entries(query)
            .filter(([key]) => key !== 'sortBy' && key !== 'sortOrder')
            .map(([key, val]) => `${key}=${encodeURIComponent(val)}`)
            .join('&'); %>
        <p>Sort by:</p>
        <a href="/books?<%= currentFilters ? currentFilters + '&' : '' %>sortBy=id&sortOrder=asc">ID ↑</a>
        <a href="/books?<%= currentFilters ? currentFilters + '&' : '' %>sortBy=id&sortOrder=desc">ID ↓</a>
        <a href="/books?<%= currentFilters ? currentFilters + '&' : '' %>sortBy=title&sortOrder=asc">Title ↑</a>
        <a href="/books?<%= currentFilters ? currentFilters + '&' : '' %>sortBy=title&sortOrder=desc">Title ↓</a>
    </div>
    <ul>
        <% books.forEach(function(book) { %>
            <li>
                <a href="/books/<%= book.id %>">
                    <h3>(<%= book.id %>) <%= book.title %></h3>
                    by <em><%= book.author %></em>
                </a>
            </li>
        <% }) %>
    </ul>
    
    <%- include('../partials/footer') %>
</body>
</html>